<!doctype html>
<html>
<head>
	<link rel='stylesheet prefetch' href='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="leftSide" ng-app="MyApp" class="gridListdemoBasicUsage" ng-controller="AppCtrl as appCtrl">
		<div id="leftTitle">
			<h1>Events</h1>
		</div>
		<!-- get rid of images -->
		<md-content class="md-padding" layout-xs="column" layout="row">
			<div flex-xs flex-gt-xs="50" layout="column">
				<div class="parent" layout="column" ng-repeat="user in users" flex >

					<div id="helloThar" ng-repeat="event in eventsVar"> <!-- change to somthing else, change below to td, display as tr --> 
						<!--<div id= "helloTharThar" ng-repeat="(name, time) in event">-->
							<md-card style="width:300px">
								<!-- card image -->
								<!-- <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar"> -->

								<!-- card content -->
								<md-card-content>
									<h2>{{user}}</h2>


									<!--eventsArray[0] works-->

									<h2>{{eventsVar.events[0].name}}</h2>


									<p1>kind of below me!</p1>


									<p1>{{event.name}}</p1>
									<p1>{{event.time}}</p1>


							<!-- IMMEDIATELY PRIOR
							<ul ng-repeat="eventArray in eventVar">
								<ul ng-repeat="event in eventArray">
									<li ng-repeat="name in event">
										<p1>{{eventName}}</p1>
									</li>
								</ul>							
							</ul>
						-->

<!--

/*
		var eventVar = {
			"events": [
					"yHack": {
					"name": "yHack",
					"start_time": "fall",
					"end_time": "later fall",
					"location": "Yale Engineering",
					"lat": 39.9522,
					"lng": -75.1932,
					"description": "A hackathon at the Yale University"
				},
					"PennApps": {
					"name": "PennApps",
					"start_time": "is this a string",
					"end_time": "end date",
					"location": "UPenn Engineering",
					"lat": 39.9522,
					"lng": -75.1932,
					"description": "A hackathon at the University of Pennsylvania"
				}
			]
		}
		*/


	-->
							<!-- eventsVar{events: [name:pair, name:pair]}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>



						</md-card-content>

						<!-- bottom of card -->
						<div class="md-actions" layout="row" layout-align="end center">          	
							<md-button>Save</md-button>
							<md-button ng-click="viewEvent()">View</md-button>
						</div>
					</md-card>
				</div>
			</div>
		</div>
	</div>
</md-content>
</div>
</div>
<div id="rightSide">
	<!-- Google Maps -->
	<div id="map"></div>
	<script>
		
	</script>
</div>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js'></script>
<!-- gitcdn for angular-material.js is problematic - often goes down --> <!-- download and use that -->
<script src='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.js'></script>
<script src="js/angular-material.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

<!-- Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjriwynstavLLKVhZWTZgG7MNuGA9cKHc&callback=initMap"></script>

<!-- was index.js -->
<script src="js/cards.js"></script>
</body>
</html>



