<!doctype html>
<html>
<head>
	<link rel='stylesheet prefetch' href='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="leftSide" ng-app="MyApp" class="gridListdemoBasicUsage" ng-controller="AppCtrl as appCtrl">
		<div id="leftTitle">
			<h1>Events</h1>
		</div>
		<md-content class="md-padding" layout-xs="column" layout="row">
			<div flex-xs flex-gt-xs="50" layout="column">

				<div id="helloThar" ng-repeat="event in eventsVar"> <!-- change to somthing else, change below to td, display as tr --> 
					<md-card style="width:300px">							
						<md-card-content>
							<script type="text/javascript"> 
								//console.log(array);
							</script>
							<span class="md-title">{{event.name}}</span> <br> <br>							
							<b>Start: </b><p1>{{event.start_time}}</p1> <br>
							<b>End: </b><p1>{{event.end_time}}</p1> <br>
							<b>Location: </b><p1>{{event.location}}</p1> <br>
							<b>Description: </b><p1>{{event.description}}</p1> <br>						
						</md-card-content>					
						<div class="md-actions" layout="row" layout-align="end center">          	
							<md-button>Save</md-button>
							<md-button ng-click="viewEvent()">View</md-button>
						</div>					
					</md-card>
				</div>
			</div>
		</div>
	</md-content>
</div>
</div>
<div id="rightSide">
	<!-- Google Maps -->
	<div id="map"></div>
	<script>
		
	</script>
</div>


<!-- firebase dependencies -->
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<script>
   // Initialize Firebase
   var config = {
   	apiKey: "AIzaSyCGTUnY4fLYjJK5VSNblwCkbDsR_vTgby0",
   	authDomain: "mapapp-2a84b.firebaseapp.com",
   	databaseURL: "https://mapapp-2a84b.firebaseio.com",
   	storageBucket: "mapapp-2a84b.appspot.com",
   	messagingSenderId: "1094912226445"
   };
   firebase.initializeApp(config);


   var key;
   var data;
   var array = [];
   var ref = firebase.database().ref('events');
   var today = new Date();
var curr_day = today.getDate(); //curr day
var _id = 0;

ref.on('value',function(snap){
	snap.forEach(function(childSnapshot){
		//console.log(JSON.stringify(childSnapshot.val()));
		key = childSnapshot;
		data = childSnapshot.val();
       //console.log(data)
       //var index = data.description.lastIndexOf(',')
       //var data_date = data.description.substr(index-2,2)
       //data_date = parseInt(data_date)
       //console.log(data_date)
       //console.log(curr_day)
       //if(data_date < curr_day+3){ref.child("id").remove()}//removes data is from yesterday
       //else{
       //array.push(JSON.stringify(Event(data)));

       //array.push(JSON.stringify(childSnapshot.val()));
       array = array.concat(JSON.stringify(childSnapshot.val()));
       //console.log("array is " + array);
       //console.log("concat attempt" + array);
   });
});

</script>

<!-- Google maps dependencies -->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js'></script>
<!-- gitcdn for angular-material.js is problematic - often goes down --> <!-- download and use that -->
<script src='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.js'></script>
<script src="js/angular-material.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

<!-- Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjriwynstavLLKVhZWTZgG7MNuGA9cKHc&callback=initMap"></script>

<!-- was index.js -->
<script src="js/cards.js"></script>
</body>
</html>



