<!doctype html>
<html>
<head>
	<link rel='stylesheet prefetch' href='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="leftSide" ng-app="MyApp" class="gridListdemoBasicUsage" ng-controller="AppCtrl as appCtrl">
		<div id="leftTitle">
		<h1>Events</h1>
		</div>
		<!-- get rid of images -->
		<md-content class="md-padding" layout-xs="column" layout="row">
			<div flex-xs flex-gt-xs="50" layout="column">
				<div class="parent" layout="column" ng-repeat="user in users" flex >
					<md-card style="width:300px">
						<!-- card image -->
						<!-- <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar"> -->

						<!-- card content -->
						<md-card-content>
							<h2>{{user}}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
						</md-card-content>

						<!-- bottom of card -->
						<div class="md-actions" layout="row" layout-align="end center">          	
							<md-button>Save</md-button>
							<md-button ng-click="viewEvent()">View</md-button>
						</div>
					</md-card>
				</div>
			</div>
		</md-content>
	</div>
</div>
<div id="rightSide">
	<!-- Google Maps -->
	<div id="map"></div>
	<script>
		
	</script>
</div>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js'></script>
<!-- gitcdn for angular-material.js is problematic - often goes down --> <!-- download and use that -->
<script src='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.js'></script>
<script src="js/angular-material.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

<!-- Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjriwynstavLLKVhZWTZgG7MNuGA9cKHc&callback=initMap"></script>

<!-- was index.js -->
<script src="js/cards.js"></script>
</body>
</html>



