
.carddemoBasicUsage .card-media {
	background-color: #999999; 
}

/*.h2 {
	text-align: center;
    }*/

    #leftSide {
        width:25%;
        /*min-width: 325px;*/
        float: left;
        /*width: 25%;*/
        overflow: scroll;
        height: 100%;
    }


    #rightSide {
       float: right;   
       /*min-width: 975px;*/
       width: 75%;
       overflow: scroll;
       height: 100%;

   }

   #map {
       height: 100%;
       min-width: 975px;    
	/*width: 100%;
	overflow: scroll;	
	height: 100%;*/
}

#leftTitle {
	text-align: center;

}



.btn {
	float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 5px 15px;
    background-color: #f5f5f5;
    line-height: 20px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
    /*font-family: Georgia;*/
    display: inline-block;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#e5e3e3));
    background-image: -webkit-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -moz-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -o-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -ms-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: linear-gradient(top,#f1f1f1,#e5e3e3);
}

/*Won's banner*/
#trademark{
    font-family: 'Lora', serif;
    color:white;
    font-size:15px;
}

#trademark2{
    font-family: 'Lora', serif;
    color:white;
    font-size:15px;
}
.header-div{
    overflow:auto;
    background-color: #631919;
}

.footer-div{
    overflow:auto;
}
.header-div h1{
    font-family: 'Lora', serif;
    color: white;
    font-size:2rem;
}
.cemvideo {
    padding-right: 15px;
}
.cemvideo a {
    font-family: 'Lora', serif;
    color:white;
    font-size: 15px;
}
.banner-img{
    height:7rem;
    float:left;
    /*clear:right;*/
    /*overflow:auto;*/
}

h2{
    color:black;
    font-family: 'Lora', serif;
}

h4{
    font-family: 'Lora', serif;
    color:black;
    font-size:1rem;
}

.container{
    height: 80%;
    max-width: 100%;
    min-height: 650px;
    font-family: 'Lato';
    position:relative;
}
.clearfix,.col{
    height: 100%;
}
